@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@latest/nanumbarungothicsubset.css");

@font-face {
    font-family: "Haeseo";
    src: url("/fonts/Haeseo_S.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ChosunSm";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.1/ChosunSm.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CookieRun";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-size: 45px;
    font-family: "NanumBarunGothic", sans-serif;
    /* letter-spacing: -2.5px; */
}

input:focus,
textarea:focus {
    outline: none;
}

.debug {
    /* display: none; */
    /* opacity: 1 !important; */
}

.animate__animated.animate__fadeInDown2 {
    animation: fadeInDown2 1s;
    animation-fill-mode: forwards;
}

.animate__animated.animate__fadeOutUp2 {
    animation: fadeOutUp2 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeInDown2 {
    0% {
        -webkit-transform: translate3d(-50%, -100%, 0);
        transform: translate3d(-50%, -100%, 0);
        opacity: 0;
    }

    100% {
        -webkit-transform: translate3d(-50%, 0%, 0);
        transform: translate3d(-50%, 0%, 0);
        opacity: 1;
    }
}

@keyframes fadeOutUp2 {
    0% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        opacity: 1;
    }

    100% {
        visibility: hidden;
        display: none;
        -webkit-transform: translate3d(-50%, -100%, 0);
        transform: translate3d(-50%, -100%, 0);
        opacity: 0;
    }
}

.bg-white {
    background: linear-gradient(
            -90deg,
            rgba(0, 0, 0, 0.01) 5px,
            transparent 5px
        ),
        linear-gradient(rgba(0, 0, 0, 0.01) 5px, transparent 5px),
        linear-gradient(-90deg, rgba(0, 0, 0, 0.03) 5px, transparent 5px),
        linear-gradient(rgba(0, 0, 0, 0.03) 5px, transparent 5px),
        linear-gradient(-90deg, rgba(0, 0, 0, 0.03) 5px, transparent 5px),
        linear-gradient(rgba(0, 0, 0, 0.03) 5px, transparent 5px),
        linear-gradient(-90deg, rgba(0, 0, 0, 0.2) 1px, transparent 1px),
        linear-gradient(rgba(0, 0, 0, 0.2) 1px, transparent 1px),
        linear-gradient(-90deg, rgba(0, 0, 0, 0.2) 1px, transparent 1px),
        linear-gradient(rgba(0, 0, 0, 0.2) 1px, transparent 1px),
        rgb(255 255 255 / var(--tw-bg-opacity));
    background-size:
        50px 50px,
        50px 50px,
        100px 100px,
        100px 100px,
        200px 200px,
        200px 200px,
        500px 500px,
        500px 500px,
        500px 500px,
        500px 500px;
}
