@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@latest/nanumbarungothicsubset.css");

@font-face {
    font-family: "Haeseo";
    src: url("/fonts/Haeseo_S.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: "ChosunSm";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.1/ChosunSm.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: "ChosunKm";
    src: url("/fonts/ChosunKm.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CookieRun";
    src: url("/fonts/CookieRun-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-size: 45px;
    font-family: "NanumBarunGothic", sans-serif;
    /* letter-spacing: -2.5px; */
}

input:focus,
textarea:focus {
    outline: none;
}

.debug {
    display: none;
    /* opacity: 1 !important; */
}

.animate__animated.animate__fadeInDown2 {
    animation: fadeInDown2 1s;
    animation-fill-mode: forwards;
}

.animate__animated.animate__fadeOutUp2 {
    animation: fadeOutUp2 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeInDown2 {
    0% {
        -webkit-transform: translate3d(-50%, -100%, 0);
        transform: translate3d(-50%, -100%, 0);
        opacity: 0;
    }

    100% {
        -webkit-transform: translate3d(-50%, 0%, 0);
        transform: translate3d(-50%, 0%, 0);
        opacity: 1;
    }
}

@keyframes fadeOutUp2 {
    0% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        opacity: 1;
    }

    100% {
        visibility: hidden;
        display: none;
        -webkit-transform: translate3d(-50%, -100%, 0);
        transform: translate3d(-50%, -100%, 0);
        opacity: 0;
    }
}

.chapter-title {
    overflow-wrap: break-word;
    /* 단어가 잘릴 경우 자동으로 줄 바꿈 */
    white-space: normal;
    /* 텍스트가 여러 줄로 넘어갈 수 있도록 설정 */
    text-indent: -30px;
    /* 첫 번째 줄만 들여쓰기, 두 번째 줄부터는 적용되지 않음 */
    padding-left: 30px;
    /* 두 번째 줄 들여쓰기를 위한 왼쪽 패딩 */
}
